<h1>Pirate Name: <%= @pirate.name %></h1>
<p>Pirate Weight: <%= @pirate.weight %></p>
<p>Pirate Height: <%= @pirate.height %></p>


<h2>Display your first ship here</h2>
<% first_ship = @ships[0] %>
<%binding.pry%>
<%= ship.name %>
<%= ship.type %>
<%= ship.booty %>
<% end %>




<h2>Display your second ship here</h2>
